@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 768px) {
    .right-column-login {
        display: none;
    }
}

.dz-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.dropzone-custom .dz-preview {
    width: 100px;
    height: 100px;
}
